<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="JSON Web Token Generator and Validator">
  <meta name="robots" content="noindex, nofollow">
  <!-- open graph tags -->
  <meta property="og:title" content="JWT Generator">
  <meta property="og:description" content="JSON Web Token Generator and Validator">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://deshan-nawanjana.github.io/jwt-generator/">
  <meta property="og:image" content="https://deshan-nawanjana.github.io/jwt-generator/assets/images/splash.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- twitter card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="JWT Generator">
  <meta name="twitter:description" content="JSON Web Token Generator and Validator">
  <meta name="twitter:image" content="https://deshan-nawanjana.github.io/jwt-generator/assets/images/splash.png">
  <!-- canonical -->
  <link rel="canonical" href="https://deshan.lk/projects/jwt-generator" />
  <!-- favicon -->
  <link rel="shortcut icon" href="./index.png" type="image/png">
  <!-- preload : fonts -->
  <link rel="stylesheet" href="./assets/fonts/Ubuntu/Ubuntu.css">
  <link rel="preload" href="./assets/fonts/Ubuntu/Ubuntu-Regular.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="./assets/fonts/Ubuntu/Ubuntu-Medium.ttf" as="font" type="font/ttf" crossorigin>
  <!-- preload : images -->
  <link rel="preload" href="./assets/images/spinner.svg" as="image" type="image/svg+xml" />
  <!-- style -->
  <link rel="stylesheet" href="./index.css">
  <!-- libraries -->
  <script src="./assets/libraries/vue.min.js"></script>
  <!-- script -->
  <script src="./index.js" type="module" defer></script>
  <!-- page title -->
  <title>JWT Generator</title>
</head>
<body>
  <div id="app" :data-ready="ready">
    <div class="container">
      <div class="switch">
        <div class="switch-item" @click="switchMode('generate')" :data-active="mode === 'generate'">
          Generate
        </div>
        <div class="switch-item" @click="switchMode('decode')" :data-active="mode === 'decode'">
          Decode
        </div>
        <div class="switch-item" @click="switchMode('validate')" :data-active="mode === 'validate'">
          Validate
        </div>
      </div>
      <div class="content" v-if="mode === 'generate'">
        <fieldset>
          <legend>
            Server Secret
          </legend>
          <input type="text" v-model="secret" placeholder="Secret that uses to hash the signature" spellcheck="false" autocapitalize="off">
        </fieldset>
        <fieldset>
          <legend>
            Data Object
          </legend>
          <textarea v-model="data" placeholder="Encoding JSON data object that contains token details" spellcheck="false" autocapitalize="off"></textarea>
        </fieldset>
        <fieldset>
          <legend>
            Duration (in seconds)
          </legend>
          <input type="text" v-model="duration" placeholder="How long will it take to reach the expiration time" spellcheck="false" autocapitalize="off">
        </fieldset>
        <fieldset v-if="token">
          <legend>
            Generated Token
          </legend>
          <textarea class="token" v-model="token" @click="selectText" spellcheck="false" autocapitalize="off" readonly></textarea>
        </fieldset>
        <div class="footer">
          <div class="error">
            {{error}}
          </div>
          <button @click="generate">
            Generate
          </button>
        </div>
      </div>
      <div class="content" v-if="mode === 'decode'">
        <fieldset>
          <legend>
            Token
          </legend>
          <textarea class="token" v-model="token" @click="selectText" spellcheck="false" autocapitalize="off" placeholder="Token to decode its payload"></textarea>
        </fieldset>
        <fieldset v-if="data">
          <legend>
            Data Object
          </legend>
          <textarea v-model="data" @click="selectText" spellcheck="false" autocapitalize="off" readonly></textarea>
        </fieldset>
        <div class="footer">
          <div class="error">
            {{error}}
          </div>
          <button @click="decode">
            Decode
          </button>
        </div>
      </div>
      <div class="content" v-if="mode === 'validate'">
        <fieldset>
          <legend>
            Token
          </legend>
          <textarea class="token" v-model="token" @click="selectText" spellcheck="false" autocapitalize="off" placeholder="Token to validate"></textarea>
        </fieldset>
        <fieldset>
          <legend>
            Server Secret
          </legend>
          <input type="text" v-model="secret" @click="selectText" placeholder="Secret that uses to hash the signature" spellcheck="false" autocapitalize="off">
        </fieldset>
        <fieldset v-if="status">
          <legend>
            Token Status
          </legend>
          <input type="text" v-model="status" @click="selectText" spellcheck="false" autocapitalize="off">
        </fieldset>
        <fieldset v-if="data">
          <legend>
            Data Object
          </legend>
          <textarea v-model="data" @click="selectText" spellcheck="false" autocapitalize="off" readonly></textarea>
        </fieldset>
        <div class="footer">
          <div class="error">
            {{error}}
          </div>
          <button @click="validate">
            Validate
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>