@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  src: url(./Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  src: url(./Ubuntu/Ubuntu-Medium.ttf);
}